body{
  scroll-behavior: smooth;
  font-family: 'Karla', sans-serif;
}
h1, h2, h3, h4{
  font-family: 'Markazi Text', serif;
}
 header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
 }
 .title-logo{
  width: clamp(200px, 15vw, 250px);
 }

 .link-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  
  list-style-type: none;
 }

 .nav-link{
  text-decoration: none;
  color: var(--gray);
 }
 .hero{
  display: flex;
  flex-direction:column;
  align-items: center; 
  gap: 1em;
  background-color: var(--green);
  color: var(--white);
  padding: 1em;
 }

 .hero>picture{
 
  order: -1; 
  width: 100%;
  text-align: center;
 }

 .hero>picture>img{
  width: 40%;
  border-radius: 50%;
   
 }
 .hero-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
 }

 
 .cta-btn{
  background-color: var(--yellow);
  padding: .5em 1em;
  border: none;
  border-radius: 16px;
 
 }
 .cta-btn>a{
  color: var(--gray);
   font-weight: 600;
   font-size: 1.2rem;
   text-decoration: none;
   font-family: 'Karla', sans-serif;

 }

 @media (min-width:750px){
  
  header{
    flex-direction: row;
    justify-content: space-between;
  }
  .link-list{
    flex-direction: row;
  }
  
  
  .hero{
    flex-direction: row;
  }
  .hero>picture{
    order:1;
  }  
  .hero>picture>img{
    border-radius: 5px;
    width: 70%;
  }


 }