body{
  scroll-behavior: smooth;
  font-family: 'Karla', sans-serif;
}
h1, h2, h3, h4{
  font-family: 'Markazi Text', serif;
}
 header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
 }
 .title-logo{
  width: clamp(200px, 15vw, 250px);
 }

 .link-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  
  list-style-type: none;
 }

 .nav-link{
  text-decoration: none;
  color: var(--gray);
 }
 .hero{
  display: flex;
  flex-direction:column;
  align-items: center; 
  gap: 1em;
  background-color: var(--green);
  color: var(--white);
  padding: 1em;
 }

 .hero>picture{
 
  order: -1; 
  width: 100%;
  text-align: center;
 }

 .hero>picture>img{
  width: 40%;
  border-radius: 50%;
   
 }
 .hero-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
 }
 .hero-info>p{
  text-align: center;
  max-width: 80%;
  line-height: 1.5;
 }

 
 .cta-btn{
  background-color: var(--yellow);
  padding: .5em 1em;
  border: none;
  border-radius: 16px;
 
 }
 .cta-btn>a{
  color: var(--gray);
   font-weight: 600;
   font-size: 1.2rem;
   text-decoration: none;
   font-family: 'Karla', sans-serif;

 }

 .reviews{
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  background-color: var(--pink);
  
 }

 h2{
  text-align: center;
 }
 

blockquote{
  border: solid 1px var(--green);
  padding: .5em;
  border-radius: 16px;
}
blockquote>p:first-child{
  font-style: italic;
  font-weight: 500;
  margin-bottom: .5em;
}





footer{
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  color: var(--white);
}
footer>img{
  width: clamp(20px, 10vw, 50px);
}

.contact{
  text-align: center;
  line-height: 1.5;
}
.social>p{
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: .5em;
}
.social>img{
  width: 30px;
}



 @media (min-width:750px){
  
  header{
    flex-direction: row;
    justify-content: space-between;
  }
  .link-list{
    flex-direction: row;
  }
  
  
  .hero{
    flex-direction: row;
  }
  .hero>picture{
    order:1;
    width: 80%;
  }  
  .hero>picture>img{
    border-radius: 5px;
    width: auto;
    max-height: 300px;
   
  }
  footer{
    flex-direction: row;
    justify-content: space-evenly;
  }

  .social{
    align-self: flex-start;
    
  }

 }